<form class="mt-4" method="post" name="formAll" action="/courses/submitCourse">
    <h2 class="text-center mb-3">DANH SÁCH KHÓA HỌC CỦA TÔI</h2>
    <div class="d-flex align-items-center mb-2">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="checkedCourseAll">
            <label class="form-check-label" for="checkedCourseAll">Chọn Tất Cả</label>
        </div>
        <div class="form-group mb-0 ml-2 mr-2">
            <select class="form-control" id="selectAction" name="action" required>
                <option value="">-- Chọn --</option>
                <option value="delete">Xóa</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" disabled id="btn-submit">Thực Hiện</button>
        <a href="/me/trashCourses" class="ml-auto">Thùng rác ({{countDeleted}})</a>
    </div>
    <table class='table'>
        <thead>
            <tr>
                <th scope='col'></th>
                <th scope='col'>
                    <div class="d-flex flex-nowrap">
                        ID
                        {{{fnsort '_id' sort}}}
                    </div>
                </th>
                <th scope='col'>
                    <div class="d-flex flex-nowrap">
                        Tên Khóa Học
                        {{{fnsort 'name' sort}}}
                    </div>
                </th>
                <th scope='col'>Cấp Độ
                    {{{fnsort 'level' sort}}}
                </th>
                <th scope='col' colspan='3'>Ngày Tạo
                    {{{fnsort 'createdAt' sort}}}
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="checkedCourse[]" value="{{this._id}}">
                    </div>
                </td>
                <th scope='row'>{{this._id}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a role='button' href='/me/{{this._id}}/edit' class='btn btn-success'>Sửa</a>
                </td>
                <td>
                    <a role='button' href='#' class='btn btn-danger' data-toggle='modal'
                        data-target='#modal-delete-courses' data-id='{{this._id}}'>Xóa</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan='6' class='text-center'>
                    <h3>Danh sách khóa học trống</h3>
                    <a href="/courses/create">Thêm khóa học</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{! modal confirm delete }}

<div class='modal fade' id='modal-delete-courses' tabindex='-1' role='dialog'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Xác Nhân Xóa</h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                <p>Bạn có chắt muốn xóa xóa .</p>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-sm btn-block btn-secondary' data-dismiss='modal'>HỦY</button>
                <button type='button' class='btn btn-sm mt-0 btn-block btn-danger' id='confirm-delete-btn'>XÓA</button>
            </div>
        </div>
    </div>
</div>

{{! form submit delete }}

<form hidden name='form-delete' method='post'></form>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const btnSubmit = $('#btn-submit')
        const checkedCourseAll = $('#checkedCourseAll')
        const checkedCourse = $('input[name="checkedCourse[]"]')
        const formDelete = document.forms['form-delete']
        const confirmDelete = document.querySelector('#confirm-delete-btn')
        let id_delete

        $('#modal-delete-courses').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget)
            id_delete = button.data('id')
        })

        confirmDelete.onclick = () => {
            formDelete.action = `/courses/${id_delete}?_method=delete`
            formDelete.submit()
        }

        checkedCourseAll.change(function () {
            checkedCourse.prop('checked', $(this).prop('checked'))
            checkDisableSubmit()
        })

        checkedCourse.change(function () {
            let isCheckAll = checkedCourse.length == $('input[name="checkedCourse[]"]:checked').length
            checkedCourseAll.prop('checked', isCheckAll)
            checkDisableSubmit()
        })

        function checkDisableSubmit() {
            let isCheckAll = $('input[name="checkedCourse[]"]:checked').length > 0
            btnSubmit.prop('disabled', !isCheckAll)
        }
    })
</script>