<form class="mt-4" method="post" name="formAll" action="/courses/submitTrash">
    <h2 class="text-center">Thùng rác</h2>
    <div class="d-flex align-items-center mb-2">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="checkedCourseAll">
            <label class="form-check-label" for="checkedCourseAll">Chọn Tất Cả</label>
        </div>
        <div class="form-group mb-0 ml-2 mr-2">
            <select class="form-control" id="selectAction" name="action" required>
                <option value="">-- Chọn --</option>
                <option value="restore">khôi phục</option>
                <option value="destroy">Xóa vĩnh viễn</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" disabled id="btn-submit">Thực Hiện</button>
        <a href="/me/courses" class="ml-auto">DANH SÁCH KHÓA HỌC CỦA TÔI</a>
    </div>
  
    <table class='table'>
        <thead>
            <tr>
                <th scope='col'></th>
                <th scope='col'>#</th>
                <th scope='col'>Tên Khóa Học</th>
                <th scope='col'>Cấp Độ</th>
                <th scope='col' colspan='3'>Ngày Xóa</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="checkedCourse[]" value="{{this._id}}">
                    </div>
                </td>
                <th scope='row'>{{inc @index}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a role='button' href="#" class='btn btn-success btn-sm restore' data-id="{{this._id}}">Khôi
                        phục</a>
                </td>
                <td>
                    <a role='button' href='#' class='btn btn-danger btn-sm' data-toggle='modal'
                        data-target='#modal-delete-courses' data-id='{{this._id}}'>Xóa vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan='6' class='text-center'>
                    <h3>Thùng rác trống</h3>
                    <a href="/me/courses">khóa học của tôi</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{! modal confirm delete }}

<div class='modal fade' id='modal-delete-courses' tabindex='-1' role='dialog'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Xác Nhân Xóa</h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                <p>Bạn chắt chắn muốn xóa, hành động này không thể khôi phục lại</p>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-sm btn-block btn-secondary' data-dismiss='modal'>HỦY</button>
                <button type='button' class='btn btn-sm mt-0 btn-block btn-danger' id='confirm-delete'>XÓA Vĩnh Viễn</button>
            </div>
        </div>
    </div>
</div>

{{! form submit delete }}

<form hidden id='form-delete' method='post'></form>
<form hidden id='form-restore' method='post'></form>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const btnSubmit = $('#btn-submit')
        const checkedCourseAll = $('#checkedCourseAll')
        const checkedCourse = $('input[name="checkedCourse[]"]')
        const formDelete = document.querySelector('#form-delete')
        const formRestore = document.querySelector('#form-restore')
        const confirmDelete = document.querySelector('#confirm-delete')
        const restores = $('.restore')
        let id_delete
        $('#modal-delete-courses').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget)
            id_delete = button.data('id')
        })
        confirmDelete.onclick = () => {
            formDelete.action = `/courses/${id_delete}/destroy?_method=delete`
            formDelete.submit()
        }

        restores.click(function (e) {
            e.preventDefault()
            formRestore.action = `/courses/${$(this).data('id')}/restore?_method=patch`
            formRestore.submit()
        })

        checkedCourseAll.change(function () {
            checkedCourse.prop('checked', $(this).prop('checked'))
            checkDisableSubmit()
        })

        checkedCourse.change(function () {
            let isCheckAll = checkedCourse.length == $('input[name="checkedCourse[]"]:checked').length
            checkedCourseAll.prop('checked', isCheckAll)
            checkDisableSubmit()
        })

        function checkDisableSubmit() {
            let isCheckAll = $('input[name="checkedCourse[]"]:checked').length > 0
                btnSubmit.prop('disabled', !isCheckAll)
        }
    })
</script>