@import 'variable';

h1,
h2 {
    color: $red-color;
}

.f8_avata {
    width: 10%;
    border-radius: 50%;
}

.icon {
    font-size: 18px;
    color: blueviolet;
    display: inline-block;
    margin-bottom: -5px;
}
