<div class='mt-4'>
    <form method='POST' action=''>
        <div class='form-group'>
            <label for='search-form'>Tìm kiếm :</label>
            <input
                type='text'
                name='p'
                class='form-control'
                id='search-form'
                placeholder='Nhập giá trị tìm kiếm ...'
            />
        </div>
        <div class='form-group'>
            <label for='city'>Giới Tính</label>
            <select name='gender' class='form-control' id='city'>
                <option value=''>--Chọn giới tính--</option>
                <option value='male'>Nam</option>
                <option value='female'>Nữ</option>
            </select>
        </div>
        <button type='submit' class='btn btn-primary'>Submit</button>
    </form>
</div>