<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <div class='container'>
        <a class='navbar-brand' href='/courses'>f8 blog</a>
        <button
            class='navbar-toggler'
            type='button'
            data-toggle='collapse'
            data-target='#navbarSupportedContent'
            aria-controls='navbarSupportedContent'
            aria-expanded='false'
            aria-label='Toggle navigation'
        >
            <span class='navbar-toggler-icon'></span>
        </button>

        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav ml-auto'>
                <li class='nav-item dropdown'>
                    <a
                        class='nav-link dropdown-toggle'
                        href='#'
                        id='navbarDropdown'
                        role='button'
                        data-toggle='dropdown'
                        aria-haspopup='true'
                        aria-expanded='false'
                    >
                        <img
                            src='/img/f8.png'
                            alt='f8_avata'
                            class='f8_avata'
                        />
                        Trung Phi
                    </a>
                    <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
                        <a class='dropdown-item' href='/courses/create'>Đăng
                            Khóa Học</a>
                        <div class='dropdown-divider'></div>
                        <a class='dropdown-item' href='/me/courses'>Khóa Học Của
                            Tôi</a>
                        <a class='dropdown-item' href='#'>Bài Đăng Của Tôi</a>
                        <div class='dropdown-divider'></div>
                        <a class='dropdown-item' href='#'>Đăng Xuất</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</nav>