<div class='mt-4'>
    <h1>FROM ĐĂNG KHÓA HỌC</h1>
    <form method='post' action='store'>
        <div class='form-group'>
            <label for='name'>Tên Khóa Học</label>
            <input type='text' class='form-control' id='name' name='name' />
        </div>
        <div class='form-group'>
            <label for='description'>Mô Tả</label>
            <input
                type='text'
                class='form-control'
                id='description'
                name='description'
            />
        </div>
        <div class='form-group'>
            <label for='video'>Mã Video Youtube</label>
            <input type='text' class='form-control' id='video' name='video' />
        </div>
        <div class='form-group'>
            <label for='level'>Cấp Độ Khóa Học</label>
            <input type='text' class='form-control' id='level' name='level' />
        </div>
        <button type='submit' class='btn btn-primary'>Xác nhân đăng</button>
    </form>
</div>