<div class='row mt-2 pb-2'>
    <div class='col-3'>
        <div class='row'>
            <div class='col-2'>
                <img
                    src='http://localhost:3000/img/f8.png'
                    alt='f8'
                    class='rounded'
                    width='30'
                    height='30'
                />
            </div>
            <div class='col-10'>
                <p>{{course.name}}</p>
            </div>
        </div>
    </div>
    <div class='col-6'>
        <input
            type='text'
            name='p'
            class='form-control'
            id='search-form'
            placeholder='Nhập giá trị tìm kiếm ...'
        />
        <div class='col-3'></div>
    </div>
</div>
<div class='border-bottom border-light' style="width: '100%'"></div>
<div class='row mt-2'>
    <div class='col-3'>
        <ul>
            <li>{{course.level}}</li>
        </ul>

    </div>
    <div class='col-9'>
        <iframe
            width='736'
            height='404'
            src='https://www.youtube.com/embed/{{course.video}}'
            title='1. Giới Thiệu khóa học C++'
            frameborder='0'
            allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
            allowfullscreen
        >
        </iframe>
        <P>{{course.description}}</P>
    </div>
</div>