<div class='mt-4'>
    <h2>FROM CHỈNH SỬA KHÓA HỌC</h2>
    <form method='post' action='/courses/{{course._id}}?_method=put'>
        <div class='form-group'>
            <label for='name'>Tên Khóa Học</label>
            <input
                type='text'
                class='form-control'
                value='{{course.name}}'
                id='name'
                name='name'
            />
        </div>
        <div class='form-group'>
            <label for='description'>Mô Tả</label>
            <textarea
                class='form-control'
                id='description'
                name='description'
            >{{course.description}}</textarea>
        </div>
        <div class='form-group'>
            <label for='video'>Mã Video Youtube</label>
            <input
                type='text'
                class='form-control'
                value='{{course.video}}'
                id='video'
                name='video'
            />
        </div>
        <div class='form-group'>
            <label for='level'>Cấp Độ Khóa Học</label>
            <input
                type='text'
                class='form-control'
                value='{{course.level}}'
                id='level'
                name='level'
            />
        </div>
        <button type='submit' class='btn btn-primary'>Đồng Ý</button>
    </form>

</div>